<%- include("header") -%>
<div class="signform">
<div class="cont log">
    <div class="title">Change Password</div>
    <br>
    <div class="content">
      <form action="/changepassword" method="post">
        <div class="user-detail">
          <div class="input-box" style="display:none;">
            <span class="details">Email</span>
            <input name="username" type="text" placeholder="Enter your email" value="<%= email %>" required >
          </div>
          <div class="input-box">
            <span class="details" style="color:red;"><b><%= message %></b></span>
            <span class="details">New Password</span>
            <input name="newpassword" type="text" placeholder="Enter new password" required>
          </div>
          <div class="input-box">
            <span class="details">Confirm Password</span>
            <input name="confirmpassword" type="text" placeholder="Confirm passowrd" required>
          </div>
        </div>
        <div class="button">
          <input type="submit" value="Change password">
        </div>
      </form>

    </div>
  </div>
</div>
  <%- include("footer") -%>
