<%- include("header") -%>
<div class="signform" >
<div class=" cont" style="height:310px;">
    <div class="title">Select Trip or Tour you want to add</div>
    <div class=" Sell-items content">
      <form enctype="multipart/form-data" method="post">

        <br>
        <br>
          <br>
        <div class="title">
          <a href="/admin/addtrek-theyashhanda">
          Trekk
          </a>
        </div>
        <br>
        <br>
        <div class="title">
          <a href="/admin/addtour-theyashhanda">
          Tour
          </a>
        </div>
      </form>

    </div>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<%- include("footer") -%>
