<%- include("header") -%>

<div class="signform">
<div class="cont" style="height:850px;">
    <div class="title">Registration</div>
    <span class="details" style="color:red;"><b><%= message %></b></span>
    <div class="content">
      <form action="/signup" method="post">

        <div class="user-details">
          <div class="input-box">
            <span class="details">First Name</span>
            <input name="firstname" type="text" placeholder="Enter your name" required>
          </div>
          <div class="input-box">
            <span class="details">Last Name</span>
            <input name="lastname" type="text" placeholder="Enter your name" required>
          </div>
          <div class="input-box" >
            <span class="details">Address</span>
            <input name="address" type="text" placeholder="Enter your Address with Pincode" required>
          </div>
          <div class="input-box">
            <span  class="details">Email</span>
            <input name="username" type="text" placeholder="Enter your email" required>
          </div>
          <div class="input-box">
            <span class="details">Phone Number</span>
            <input name="number" type="text" placeholder="Enter your number" required>
          </div>
          <div class="input-box">
            <span class="details">Password </span>
            <input name="password" id="password" type="password" placeholder="Enter your password " required>
            <i class="far fa-eye eye23" id="togglePassword"></i>
          </div>
          <div class="input-box">
            <span class="details">Confirm Password</span>
            <input name="confirmpassword" id="password2" type="password" placeholder="Confirm your password" required>
<i class="far fa-eye eye23" id="togglePassword2"></i>
          </div>
          <div class="input-box">
            <span class="details">Security Question - What is your first pet name?</span>
            <input name="question" type="text" placeholder="Answer for security question" required>
          </div>
        </div>


        <div class="gender-details">
          <input type="radio" name="gender" id="dot-1" value="p1.jfif" >
          <input type="radio" name="gender" id="dot-2" value="p2.jfif">
          <input type="radio" name="gender" id="dot-3" value="p3.png">
          <span class="gender-title">Select Avatar</span>
          <div class="category">
            <label for="dot-1" value="p1.jfif">
            <span class="dot one"></span>
            <span class="gender"><img class="rounded-circle" style="width:46px;height:46px;" src="/css/p1.jfif"></span>
          </label>
          <label for="dot-2" value="p2.jfif">
            <span class="dot two"></span>
            <span class="gender"><img class="rounded-circle" style="width:56px;height:56px;" src="/css/p2.jfif"></span>
          </label>
          <label for="dot-3" value="p3.png">
            <span class="dot three"></span>
            <span class="gender"><img class="rounded-circle" style="width:46px;height:46px;" src="/css/p3.png"></span>
            </label>
          </div>
        </div>
        <div class="gender-details">
          <input type="radio" name="gender" id="dot-4" value="p4.png">
          <input type="radio" name="gender" id="dot-5" value="p5">
          <input type="radio" name="gender" id="dot-6" value="p6.jfif">
          <div class="category">

            <label for="dot-4" value="p4.png">
              <span class="dot four"></span>
              <span class="gender"><img class="rounded-circle" style="width:46px;height:46px;" src="/css/p4.png"></span>
              </label>
              <label for="dot-5" value="p5">
                <span class="dot five"></span>
                <span class="gender"><img class="rounded-circle" style="width:46px;height:46px;" src="/css/p5"></span>
                </label>
                <label for="dot-6" value="p6.jfif">
                  <span class="dot six"></span>
                  <span class="gender"><img class="rounded-circle" style="width:46px;height:46px;" src="/css/p6.jfif"></span>
                  </label>
          </div>
        </div>


        <script>
        const togglePassword = document.querySelector("#togglePassword");
        const password = document.querySelector("#password");

        togglePassword.addEventListener("click", function () {
            // toggle the type attribute
            const type = password.getAttribute("type") === "password" ? "text" : "password";
            password.setAttribute("type", type);

            // toggle the icon
            this.classList.toggle("bi-eye");
        });

    </script>
        <div class="button">
          <input type="submit" value="Register">
        </div>
        <div class="closing">
Already have an account?
          <a class="createacc" href="/SignIn"><b>Log In</b></a>
        </div>
      </form>
    </div>
  </div>
</div>
<script>
const togglePassword2 = document.querySelector("#togglePassword2");
const password2 = document.querySelector("#password2");

togglePassword2.addEventListener("click", function () {
    // toggle the type attribute
    const type1 = password2.getAttribute("type") === "password" ? "text" : "password";
    password2.setAttribute("type", type1);

    // toggle the icon
    this.classList.toggle("bi-eye");
});

</script>
  <%- include("footer") -%>
